<table>
    <tr>
        <td class="text-right">Server:</td>
        <td id="websocketstatus"><i class="fas fa-spinner fa-spin text-warning"></i>
            connecting
        </td>
    </tr>
    <tr>
        <td class="text-right">Load:</td>
        <td id="loadindex"></td>
    </tr>
    <tr>
        <td class="text-right">Disk Free:</td>
        <td id="disk"></td>
    </tr>
    <tr>
        <td class="text-right">Memory Free:</td>
        <td id="memory"></td>
    </tr>
    <tr>
        <td class="text-right">SSH Enabled:</td>
        <td id="ssh"></td>
    </tr>
    <tr>
        <td class="text-right">Serial Number:</td>
        <td id="serialnumber"></td>
    </tr>
    <tr>
        <td class="text-right">Uptime:</td>
        <td id="uptime"></td>
    </tr>
</table>
