{{#extend "base_layout.html"}}
    {{#content "head" mode="append"}}
    {{/content}}

    {{#content "meta" mode="replace"}}
        <title>UCM PI - Cloud Services</title>
        <meta name="description" content="UCM PI - Cloud Services">
    {{/content}}

    {{#content "content"}}
        <h1 class="h3 mb-3">UCM/Pi Diagnostics</h1>

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Cloud Services</h5>
                    </div>
                    <div class="card-body">
                        <table>
                            <tr>
                                <td class="text-right">Status:</td>
                                <td id="friendlynameerror">Unknown</td>
                            </tr>
                        </table>
                        <form class="form-inline">
                            <label class="sr-only" for="friendlyname">Cloud Services</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text">Site Name </span>
                            </div>
                            <input type="text" id='friendlyname'  class="form-control" placeholder="Friendly name" disabled>
                            <input type="button" class="btn btn-danger" id="changefriendlyname" value="Update" disabled>
                        </form>

                        <label class="custom-control custom-checkbox" for="diags">
                            <input type="checkbox" class="custom-control-input" id="diags">
                            <span class="custom-control-label">Send Diagnostic Data to alphaWerk</span>
                        </label>
                        <label class="custom-control custom-checkbox" for="backupcomf">
                            <input type="checkbox" class="custom-control-input" id="backupcomf">
                            <span class="custom-control-label">Automatically backup Comfiguration changes to alphaWerk</span>
                        </label>
                        <label class="custom-control custom-checkbox" for="backupflow">
                            <input type="checkbox" class="custom-control-input" id="backupflow">
                            <span class="custom-control-label">Automatically backup Node-Red flows to alphaWerk</span>
                        </label>
                    </div>
                </div>
            </div>


        </div>
    {{/content}}

    {{#content "foot" mode="append"}}
        <script src="../static/js/adminDash.js"></script>
    {{/content}}
{{/extend}}

