{{#extend "base_layout.html"}}
    {{#content "head" mode="append"}}
    {{/content}}

    {{#content "meta" mode="replace"}}
        <title>UCM PI - Cloud Services</title>
        <meta name="description" content="UCM PI - Cloud Services">
    {{/content}}

    {{#content "content"}}
        <h1 class="h3 mb-3">UCM/Pi Diagnostics</h1>

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Cloud Services Disabled</h5>
                    </div>                 
                </div>
            </div>


        </div>
    {{/content}}

    {{#content "foot" mode="append"}}
        <script src="../static/js/adminDash.js"></script>
    {{/content}}
{{/extend}}

