{{#extend "base_layout.html"}}
    {{#content "head" mode="append"}}
        <script>
            function parse_query_string(query) {
                var vars = query.split("&");
                var query_string = {};
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    var key = decodeURIComponent(pair[0]);
                    var value = decodeURIComponent(pair[1]);
                    // If first entry with this name
                    if (typeof query_string[key] === "undefined") {
                        query_string[key] = decodeURIComponent(value);
                        // If second entry with this name
                    } else if (typeof query_string[key] === "string") {
                        var arr = [query_string[key], decodeURIComponent(value)];
                        query_string[key] = arr;
                        // If third or later entry with this name
                    } else {
                        query_string[key].push(decodeURIComponent(value));
                    }
                }
                return query_string;
            }

            $(document).ready(function () {
                var query = window.location.search.substring(1);
                var qs = parse_query_string(query);
                console.log(query + ":" + JSON.stringify(qs));
                
                if (qs.serialnum) {
                    $("#serial").html("Serial Number: " + qs.serialnum);
                }

                if (qs.UUID) {
                    $("#UUID").html("UUID: " + qs.UUID);
                }

                if (qs.msg) {
                    //var message = "Unknown response from server";
                    switch (qs.msg) {
                        case '0':
                            message = "<strong>Username / Password / Email not valid</strong>";
                            break;
                        case '1':
                            message = "<strong>You must accept the License terms to continue</strong>";
                            break;
                        case '2':
                            message = "<strong>Password and confirm password don't match</strong>";
                            break;
                        case '3':
                            message = "<strong>Friendly name invalid, already in use or error on server<strong>";
                            break;

                        default:
                    }
                    document.getElementById("message").innerHTML = message;
                }

            });


        </script>
    {{/content}}

    {{#content "meta" mode="replace"}}
        <title>UCM PI - Register</title>
        <meta name="description" content="UCM PI - Initialise">
    {{/content}}

    {{#content "body"}}
        <main class="main h-100 w-100">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                        <div class="d-table-cell align-middle">

                            <div class="text-center mt-4">
                                <h1 class="h2">Initialise</h1>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="m-sm-4">
                                        <div class="text-center">
                                            <img src="../static/img/logo_no_bg.png" alt="alphaWerk" class="img-fluid rounded-circle" width="132" height="132">
                                        </div>
                                        <form action="/register" method="post">
                                            <div class="card">
                                                <h5 class="card-header">Create Admin User</h5>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input class="form-control form-control-lg" type="text" name="username"
                                                               placeholder="Enter your Username"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input class="form-control form-control-lg" type="text" name="useremail"
                                                               placeholder="Enter your email address"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input class="form-control form-control-lg" type="password"
                                                               name="password" placeholder="Enter password"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Confirm Password</label>
                                                        <input class="form-control form-control-lg" type="password"
                                                               name="passwordcomp" placeholder="Enter password again"/>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="card">
                                                <h5 class="card-header">License Agreement</h5>
                                                <div class="card-body">
                                                    <iframe src="../static/license.html" width="100%" height="100%"
                                                            frameborder=0></iframe>
                                                    <input type="checkbox" name="betachk"> Accept terms of the License Agreement<br>
                                                </div>
                                            </div>

                                            <div class="text-center mt-3">
                                                <div id="message"></div>
                                                <input class="btn btn-lg btn-primary" type="submit" value="Sign Up"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    {{/content}}

    {{#content "foot" mode="append"}}
    {{/content}}
{{/extend}}
